Checks: 'clang-analyzer-*,performance-*,readability-*,bugprone-*,misc-*,c11*,-modernize-*,-readability-identifier-length,bugprone-assignment-in-if-condition,readability-sizeof-expression'
WarningsAsErrors: ''
FormatStyle: file
HeaderFilterRegex: 'src/.*'
CheckOptions:
  - key: readability-identifier-naming.FunctionCase
    value: snake_case
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-magic-numbers.Enabled
    value: true
  - key: readability-braces-around-statements.Enabled
    value: true
  - key: readability-identifier-length.Enabled
    value: true
  - key: readability-sizeof-expression.WarnOnToIntegerCast
    value: true
