Checks: 'clang-analyzer-*,performance-*,readability-*,bugprone-*,misc-*,c11*,-modernize-*'
WarningsAsErrors: ''
FormatStyle: file
HeaderFilterRegex: 'src/.*'
CheckOptions:
  - key: readability-identifier-naming.FunctionCase
    value: CamelCase
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-magic-numbers.Enabled
    value: false
  - key: readability-braces-around-statements.Enabled
    value: false
