Checks: '
  -*,
  clang-analyzer-*,
  bugprone-*,
  cert-*,
  performance-*,
  readability-*,
  misc-*,
  -modernize-*,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  readability-implicit-bool-conversion,
  readability-use-concise-preprocessor-directives
'
WarningsAsErrors: 'clang-analyzer-*,bugprone-*,cert-*'
FormatStyle: file
HeaderFilterRegex: 'src/([^./][^/]*/)?[^./]+\.[ch]'
CheckOptions:
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-magic-numbers.Enabled
    value: true
  - key: readability-braces-around-statements.Enabled
    value: true
  - key: readability-identifier-length.Enabled
    value: true
  - key: readability-sizeof-expression.WarnOnToIntegerCast
    value: true
